<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body> 
    <div class = "main-content"> 
    {{>header}}
    <img class="portrait" src="/img/58415_qutote_in_the_beginning_universe_was_created.jpg">
    </div>
    {{>footer}}
</body>









</html>